Flask==1.0.2
opencv_python==3.4.3.18
psycopg2_binary==2.7.5
scikit_image==0.13.1
requests==2.18.4
argon2_cffi==18.3.0
numpy==1.14.3
googlemaps==3.0.2
Flask_Dropzone==1.5.3
pandas==0.23.0
selenium==3.14.1
Pillow==5.3.0
argon2==0.1.10
beautifulsoup4==4.6.3
psycopg2==2.7.5
